name: CI Pipeline

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: admin
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t foster_app .

      - name: Run docker-compose
        run: docker-compose up -d

        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # ADICIONAMOS matplotlib e opencv-python-headless AQUI:
          pip install pytest requests numpy matplotlib opencv-python-headless

      - name: Run tests
        run: pytest -v
